Repository cosmos/evm, pull requests merged in 2025-08, with the labels that each got.

#379 Problem: get receipt should not return error on tx not found
  rpc/backend/tx_info.go
  tests/integration/rpc/backend/test_tx_info.go
Labels: backport/v0.3.x

#387 (feat):Appside Mempool
  .github/workflows/system-test.yml
  .golangci.yml
  .markdownlintignore
  CHANGELOG.md
  ante/evm/09_increment_sequence.go
  evmd/app.go
  evmd/cmd/evmd/cmd/root.go
  evmd/cmd/evmd/cmd/testnet.go
  evmd/go.mod
  evmd/tests/integration/create_app.go
  evmd/tests/integration/mempool/mempool_test.go
  interfaces.go
  local_node.sh
  mempool/blockchain.go
  mempool/check_tx.go
  mempool/errors.go
  mempool/interface.go
  mempool/iterator.go
  mempool/mempool.go
  mempool/miner/ordering.go
  mempool/registry_production.go
  mempool/registry_testing.go
  mempool/signer.go
  mempool/signer_test.go
  mempool/txpool/errors.go
  mempool/txpool/legacypool/legacypool.go
  mempool/txpool/legacypool/legacypool2_test.go
  mempool/txpool/legacypool/legacypool_test.go
  mempool/txpool/legacypool/list.go
  mempool/txpool/legacypool/list_test.go
  mempool/txpool/legacypool/noncer.go
  mempool/txpool/legacypool/reset_production.go
  mempool/txpool/legacypool/reset_testing.go
  mempool/txpool/reserver.go
  mempool/txpool/subpool.go
  mempool/txpool/txpool.go
  mempool/txpool/validation.go
  rpc/backend/backend.go
  rpc/backend/call_tx.go
  rpc/backend/sign_tx.go
  rpc/backend/tx_info.go
  rpc/backend/tx_pool.go
  rpc/namespaces/ethereum/txpool/api.go
  server/start.go
  tests/integration/ante/test_evm_unit_09_increment_sequence.go
  tests/integration/mempool/test_mempool_integration.go
  tests/integration/mempool/test_setup.go
  tests/systemtests/.gitignore
  tests/systemtests/Counter/script/SimpleSends.s.sol
  tests/systemtests/Makefile
  tests/systemtests/eth_test.go
  x/vm/keeper/abci.go
  x/vm/keeper/keeper.go
  x/vm/statedb/interfaces.go
  x/vm/statedb/mock_test.go
  x/vm/types/mocks/EVMKeeper.go
Labels: enhancement, feature

#463 chore: set up backport rules for v0.4.x
  .mergify.yml
Labels: backport/v0.4.x

#415 feat: remove allow-unprotected-txs(non eip-155) from x/vm params
  ante/evm/05_signature_verification.go
  ante/evm/mono_decorator.go
  api/cosmos/evm/vm/v1/evm.pulsar.go
  proto/cosmos/evm/vm/v1/evm.proto
  tests/integration/ante/test_evm_ante.go
  tests/integration/x/vm/test_params.go
  x/vm/types/evm.pb.go
  x/vm/types/params.go
  x/vm/types/params_legacy.go
  x/vm/types/params_test.go
Labels: v0.5.x

#477 refactor: decouple keeper using interface on precompile
  CHANGELOG.md
  evmd/precompiles.go
  evmd/tests/ibc/ics20_precompile_transfer_test.go
  evmd/tests/ibc/v2_ics20_precompile_transfer_test.go
  ibc/interfaces.go
  ibc/utils.go
  precompiles/bank/bank.go
  precompiles/common/interfaces.go
  precompiles/distribution/distribution.go
  precompiles/distribution/query.go
  precompiles/distribution/tx.go
  precompiles/erc20/erc20.go
  precompiles/gov/gov.go
  precompiles/gov/query.go
  precompiles/gov/tx.go
  precompiles/ics20/ics20.go
  precompiles/slashing/slashing.go
  precompiles/slashing/tx.go
  precompiles/staking/query.go
  precompiles/staking/staking.go
  precompiles/staking/tx.go
  precompiles/werc20/werc20.go
  tests/integration/precompiles/distribution/test_setup.go
  tests/integration/precompiles/distribution/test_utils.go
  tests/integration/precompiles/gov/test_setup.go
  tests/integration/precompiles/ics20/test_setup.go
  tests/integration/precompiles/slashing/test_setup.go
  tests/integration/precompiles/staking/test_setup.go
Labels: refactor

#346 feature: Add eth_createAccessList method and implementation
  CHANGELOG.md
  crypto/hd/utils_test.go
  evmd/cmd/evmd/config/evmd_config.go
  local_node.sh
  rpc/backend/backend.go
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/types/types.go
  tests/jsonrpc/scripts/run-compat-test.sh
  tests/jsonrpc/simulator/namespaces/eth.go
  tests/jsonrpc/simulator/runner/testcases.go
  x/vm/types/tracer.go
Labels: v0.5.x

#416 fix: CometBlockResultByNumber when height is 0
  CHANGELOG.md
  rpc/backend/blocks.go
Labels: v0.5.x
